.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__imageTop,
  &__imageBot {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__imageBot {
    bottom: 0;
  }
}

.content {
  justify-self: flex-start;
  align-items: center;
  text-align: center;
}
